@import "tailwindcss";
@import "nativewind/theme";

@source "./App.tsx";
@source "./app/**/*.{js,jsx,ts,tsx}";
@source "./components/**/*.{js,jsx,ts,tsx}";
@source "./screens/**/*.{js,jsx,ts,tsx}";
@source "./layouts/**/*.{js,jsx,ts,tsx}";

@theme {
  --color-primary-0: #f0f9ff;
  --color-primary-50: #e0f2fe;
  --color-primary-100: #bae6fd;
  --color-primary-200: #7dd3fc;
  --color-primary-300: #38bdf8;
  --color-primary-400: #0ea5e9;
  --color-primary-500: #0284c7;
  --color-primary-600: #0369a1;
  --color-primary-700: #075985;
  --color-primary-800: #0c4a6e;
  --color-primary-900: #082f49;
  --color-primary-950: #020617;
  
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-full: 9999px;
}